<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GenerateDocumentMapper">

    <resultMap id="generateDocResultMap" type="com.web.app.dto.GenerateDocumentResponse">
        <result property="ordernumber" column="ORDERNUMBER" />
        <result property="buildWeek" column="BUILD" />
        <result property="specWeek" column="SPEC" />
        <result property="market" column="COUNTRY_OF_OPERATION" />
        <result property="noteNo" column="CUSTOMER_ADAP" />
        <result property="loadIndex" column="LOAD_INDEX" />
        <result property="act" column="ACT" />
        <association property="replacingParameters" javaType="com.web.app.dto.GenerateDocumentResponse$ReplacingParam">
            <result property="variable" column="VARIABLE" />
        </association>
    </resultMap>

    <select id="findGenerateDocumentData" resultMap="generateDocResultMap">
        SELECT
            om.ORDERNUMBER,
            om.BUILD,
            om.SPEC,
            om.CUSTOMER_ADAP,
            vda.COUNTRY_OF_OPERATION,
            tire.LOAD_INDEX,
            cha.ACT,
            admod.VARIABLE
        FROM HDOC_REC_DATA_VDA_GENERAL vda
        INNER JOIN HDOC_REC_DATA_OM om ON vda.SERIE = om.SERIE AND vda.CHNR = om.CHNR
        INNER JOIN HDOC_REC_DATA_KOLA_TIRE_MASTER tire ON vda.TRANS_TS = tire.TRANS_TS
        LEFT JOIN HDOC_ADCA_CHANGE cha ON vda.SERIE = cha.SERIE AND vda.CHNR = cha.CHNR
        LEFT JOIN HDOC_ADCA_MODIFICATION admod ON vda.SERIE = admod.SERIE AND vda.CHNR = admod.CHNO AND admod.STA = '0'
        WHERE vda.SERIE = #{serie} AND vda.CHNR = #{chnr}
    </select>

</mapper>
