<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.HdocRecDataKolaVariantMapper">

    <!-- UD07: 查询KOLA Variant信息 -->
    <select id="selectByFamilyIdAndVariantId" resultType="com.web.app.dto.KolaVariantResponse">
        SELECT SYMBOL, FUNCTION_GROUP, DESCRIPTION
        FROM HDOC_REC_DATA_KOLA_VARIANT
        WHERE FAMILY_ID = #{familyId} AND VARIANT_ID = #{variantId}
    </select>

</mapper>
