<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.HdocUserInfoMapper">
    <select id="selectByUserId" resultType="com.web.app.entity.HdocUserInfo">
        SELECT * FROM HDOC_USER_INFOR WHERE USERID = #{userId}
    </select>
    <select id="selectByUserIdAndPassword" resultType="com.web.app.entity.HdocUserInfo">
        SELECT * FROM HDOC_USER_INFOR WHERE USERID = #{userId} AND PASSWORD = #{password}
    </select>
    <select id="selectByCondition" resultType="com.web.app.entity.HdocUserInfo">
        SELECT DISTINCT ui.*,
               (SELECT MAX(ma.MARKET) FROM HDOC_MARKET_AUTH ma WHERE ma.USERID = ui.USERID) AS market
        FROM HDOC_USER_INFOR ui
        WHERE 1=1
        <if test="userId != null and userId != ''"> AND ui.USERID LIKE CONCAT('%', #{userId}, '%') </if>
        <if test="userName != null and userName != ''"> AND ui.USERNAME LIKE CONCAT('%', #{userName}, '%') </if>
        <if test="market != null and market != ''"> AND EXISTS (SELECT 1 FROM HDOC_MARKET_AUTH ma WHERE ma.USERID = ui.USERID AND ma.MARKET = #{market}) </if>
        <if test="roleType == 'RULE'"> AND EXISTS (SELECT 1 FROM HDOC_FUNCTION_AUTH fa WHERE fa.USERID = ui.USERID AND fa.FUNCTION = 'hdoc_user_rule') </if>
        <if test="roleType == 'TEMPLATE'"> AND EXISTS (SELECT 1 FROM HDOC_FUNCTION_AUTH fa WHERE fa.USERID = ui.USERID AND fa.FUNCTION = 'hdoc_user_template') </if>
    </select>
</mapper>
