<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.HdocUserDefinedRulesMapper">

    <!-- UD08: 更新 -->
    <update id="updateByPcNumMarket">
        UPDATE HDOC_USER_DEFINED_RULES
        SET
            PC = #{pc}, NUM = #{num}, MARKET = #{market},
            VARIABLE = #{variable}, VAL = #{val},
            VS = #{vs}, VS2 = #{vs2}, COMMENTS = #{comments},
            UPDATE_DATETIME = #{updateDatetime},
            UPDATE_USER = #{updateUser},
            UPDATE_PROCESS = #{updateProcess}
        WHERE PC = #{pc} AND NUM = #{num} AND MARKET = #{market}
    </update>

    <!-- UD08: 新增 -->
    <insert id="insertUserDefinedRules">
        INSERT INTO HDOC_USER_DEFINED_RULES
        (PC, NUM, MARKET, VS, VS2, VARIABLE, VAL, COMMENTS,
         ADD_DATE, DELETE_DATE,
         REGISTER_DATETIME, REGISTER_USER, REGISTER_PROCESS,
         UPDATE_DATETIME, UPDATE_USER, UPDATE_PROCESS)
        VALUES
        (#{pc}, #{num}, #{market}, #{vs}, #{vs2}, #{variable}, #{val}, #{comments},
         #{addDate}, #{deleteDate},
         #{registerDatetime}, #{registerUser}, #{registerProcess},
         #{updateDatetime}, #{updateUser}, #{updateProcess})
    </insert>

    <!-- UD08: 删除 -->
    <delete id="deleteByPcNumMarket">
        DELETE FROM HDOC_USER_DEFINED_RULES
        WHERE PC = #{pc} AND NUM = #{num} AND MARKET = #{market}
    </delete>

    <!-- UD09: 条件检索 -->
    <select id="searchUserDefinedRules" resultType="com.web.app.entity.HdocUserDefinedRules">
        SELECT PC, NUM, MARKET, VARIABLE, VAL, VS, VS2, COMMENTS,
               ADD_DATE AS addDate, DELETE_DATE AS deleteDate,
               UPDATE_USER AS updateUser, UPDATE_DATETIME AS updateDatetime,
               REGISTER_USER AS registerUser, REGISTER_DATETIME AS registerDatetime
        FROM HDOC_USER_DEFINED_RULES
        <where>
            <if test="pc != null and pc != ''">AND PC = #{pc}</if>
            <if test="num != null">AND NUM = #{num}</if>
            <if test="market != null and market != ''">AND MARKET LIKE CONCAT('%', #{market}, '%')</if>
            <if test="variable != null and variable != ''">AND VARIABLE LIKE CONCAT('%', #{variable}, '%')</if>
            <if test="val != null and val != ''">AND VAL LIKE CONCAT('%', #{val}, '%')</if>
            <if test="vs != null and vs != ''">AND VS LIKE CONCAT('%', #{vs}, '%')</if>
            <if test="vs2 != null and vs2 != ''">AND VS2 LIKE CONCAT('%', #{vs2}, '%')</if>
            <if test="comments != null and comments != ''">AND COMMENTS LIKE CONCAT('%', #{comments}, '%')</if>
        </where>
    </select>

    <!-- UD09: 删除选中 -->
    <delete id="deleteSelected">
        DELETE FROM HDOC_USER_DEFINED_RULES
        WHERE PC = #{pc} AND NUM = #{num} AND MARKET = #{market}
    </delete>

    <!-- UD09: 统计条数 -->
    <select id="countUserDefinedRules" resultType="int">
        SELECT COUNT(*)
        FROM HDOC_USER_DEFINED_RULES
        <where>
            <if test="pc != null and pc != ''">AND PC = #{pc}</if>
            <if test="num != null">AND NUM = #{num}</if>
            <if test="variable != null and variable != ''">AND VARIABLE LIKE CONCAT('%', #{variable}, '%')</if>
            <if test="market != null and market != ''">AND MARKET LIKE CONCAT('%', #{market}, '%')</if>
            <if test="val != null and val != ''">AND VAL LIKE CONCAT('%', #{val}, '%')</if>
            <if test="vs != null and vs != ''">AND VS LIKE CONCAT('%', #{vs}, '%')</if>
            <if test="vs2 != null and vs2 != ''">AND VS2 LIKE CONCAT('%', #{vs2}, '%')</if>
            <if test="comments != null and comments != ''">AND COMMENTS LIKE CONCAT('%', #{comments}, '%')</if>
        </where>
    </select>

    <!-- UD14: 根据Market查询记录(MARKET, VARIABLE, VAL) -->
    <select id="selectByMarket" resultType="com.web.app.entity.HdocUserDefinedRules">
        SELECT MARKET, VARIABLE, VAL
        FROM HDOC_USER_DEFINED_RULES
        WHERE MARKET = #{market}
    </select>

</mapper>
