<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.HdocRecDataKolaVariantMapper">

    <resultMap id="BaseResultMap" type="com.web.app.entity.HdocRecDataKolaVariant">
        <result property="familyId" column="FAMILY_ID" jdbcType="VARCHAR"/>
        <result property="variantId" column="VARIANT_ID" jdbcType="VARCHAR"/>
        <result property="functionGroup" column="FUNCTION_GROUP" jdbcType="VARCHAR"/>
        <result property="symbol" column="SYMBOL" jdbcType="VARCHAR"/>
        <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
        <result property="transTs" column="TRANS_TS" jdbcType="VARCHAR"/>
        <result property="registerDatetime" column="REGISTER_DATETIME" jdbcType="TIMESTAMP"/>
        <result property="registerUser" column="REGISTER_USER" jdbcType="VARCHAR"/>
        <result property="registerProcess" column="REGISTER_PROCESS" jdbcType="VARCHAR"/>
        <result property="updateDatetime" column="UPDATE_DATETIME" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="UPDATE_USER" jdbcType="VARCHAR"/>
        <result property="updateProcess" column="UPDATE_PROCESS" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByFamilyIdAndVariantId" resultMap="BaseResultMap">
        SELECT * FROM HDOC_REC_DATA_KOLA_VARIANT
        WHERE FAMILY_ID = #{familyId} AND VARIANT_ID = #{variantId}
        ORDER BY LPAD(FUNCTION_GROUP, 4, ' ')
    </select>

</mapper>
