<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.HdocUserInfoMapper">
    <select id="selectByUserId" resultType="com.web.app.entity.HdocUserInfo">
        SELECT * FROM HDOC_USER_INFOR WHERE USERID = #{userId}
    </select>
    <select id="selectByUserIdAndPassword" resultType="com.web.app.entity.HdocUserInfo">
        SELECT * FROM HDOC_USER_INFOR WHERE USERID = #{userId} AND PASSWORD = #{password}
    </select>
    <select id="selectByCondition" resultType="com.web.app.entity.HdocUserInfo">
        SELECT ui.*, ma.MARKET AS market
        FROM HDOC_USER_INFOR ui
        LEFT JOIN HDOC_MARKET_AUTH ma ON ma.USERID = ui.USERID
        WHERE 1=1
        <if test="userId != null and userId != ''"> AND ui.USERID LIKE CONCAT('%', #{userId}, '%') </if>
        <if test="userName != null and userName != ''"> AND ui.USERNAME LIKE CONCAT('%', #{userName}, '%') </if>
        <if test="market != null and market != ''"> AND ma.MARKET = #{market} </if>
    </select>
</mapper>
