<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.HdocSendDataVinPlateMapper">

    <!-- UD15: 查询 -->
    <select id="selectBySerieAndChnr" resultType="com.web.app.entity.HdocSendDataVinPlate">
        SELECT TYPE, STATUS, MSG, 
               REGISTER_DATETIME AS registerDatetime, 
               DOC_READY AS docReady, 
               DOC_SENT AS docSent, 
               XML_DOC AS xmlDoc
        FROM HDOC_SEND_DATA_VIN_PLATE
        WHERE SERIE = #{serie} AND CHNR = #{chnr}
    </select>

    <!-- UD15: SetRegenerate (STATUS='0') -->
    <update id="updateStatusRegenerate">
        UPDATE HDOC_SEND_DATA_VIN_PLATE
        SET STATUS = '0',
            UPDATE_DATETIME = #{updateDatetime},
            UPDATE_USER = #{updateUser},
            UPDATE_PROCESS = #{updateProcess}
        WHERE SERIE = #{serie} AND CHNR = #{chnr}
    </update>

    <!-- UD15: SetOK (STATUS='1') -->
    <update id="updateStatusOk">
        UPDATE HDOC_SEND_DATA_VIN_PLATE
        SET STATUS = '1',
            UPDATE_DATETIME = #{updateDatetime},
            UPDATE_USER = #{updateUser},
            UPDATE_PROCESS = #{updateProcess}
        WHERE SERIE = #{serie} AND CHNR = #{chnr}
    </update>

    <!-- UD15: ChangeToBasicInfo (TYPE='1', STATUS='0') -->
    <update id="updateToBasicInfo">
        UPDATE HDOC_SEND_DATA_VIN_PLATE
        SET TYPE = '1', STATUS = '0',
            UPDATE_DATETIME = #{updateDatetime},
            UPDATE_USER = #{updateUser},
            UPDATE_PROCESS = #{updateProcess}
        WHERE SERIE = #{serie} AND CHNR = #{chnr}
    </update>

    <!-- UD15: ChangeToAdvancedInfo (TYPE='2', STATUS='0') -->
    <update id="updateToAdvancedInfo">
        UPDATE HDOC_SEND_DATA_VIN_PLATE
        SET TYPE = '2', STATUS = '0',
            UPDATE_DATETIME = #{updateDatetime},
            UPDATE_USER = #{updateUser},
            UPDATE_PROCESS = #{updateProcess}
        WHERE SERIE = #{serie} AND CHNR = #{chnr}
    </update>

</mapper>
