<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.HdocRecDataVdaGeneralMapper">

    <resultMap id="BaseResultMap" type="com.web.app.entity.HdocRecDataVdaGeneral">
        <result property="serie" column="SERIE" jdbcType="VARCHAR"/>
        <result property="chnr" column="CHNR" jdbcType="VARCHAR"/>
        <result property="transTs" column="TRANS_TS" jdbcType="VARCHAR"/>
        <result property="vin" column="VIN" jdbcType="VARCHAR"/>
        <result property="countryOfOperation" column="COUNTRY_OF_OPERATION" jdbcType="VARCHAR"/>
        <result property="registrationNumber" column="REGISTRATION_NUMBER" jdbcType="VARCHAR"/>
        <result property="deliveryDate" column="DELIVERY_DATE" jdbcType="VARCHAR"/>
        <result property="brandId" column="BRAND_ID" jdbcType="VARCHAR"/>
        <result property="pc" column="PC" jdbcType="VARCHAR"/>
        <result property="productType" column="PRODUCT_TYPE" jdbcType="VARCHAR"/>
        <result property="companyCode" column="COMPANY_CODE" jdbcType="VARCHAR"/>
        <result property="marketingType" column="MARKETING_TYPE" jdbcType="VARCHAR"/>
        <result property="mainSpecWeek" column="MAIN_SPEC_WEEK" jdbcType="VARCHAR"/>
        <result property="bodySpecWeek" column="BODY_SPEC_WEEK" jdbcType="VARCHAR"/>
        <result property="buildWeek" column="BUILD_WEEK" jdbcType="VARCHAR"/>
        <result property="usingEndCustomerId" column="USING_END_CUSTOMER_ID" jdbcType="VARCHAR"/>
        <result property="registerDatetime" column="REGISTER_DATETIME" jdbcType="TIMESTAMP"/>
        <result property="registerUser" column="REGISTER_USER" jdbcType="VARCHAR"/>
        <result property="registerProcess" column="REGISTER_PROCESS" jdbcType="VARCHAR"/>
        <result property="updateDatetime" column="UPDATE_DATETIME" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="UPDATE_USER" jdbcType="VARCHAR"/>
        <result property="updateProcess" column="UPDATE_PROCESS" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectBySerieAndChnr" resultMap="BaseResultMap">
        SELECT * FROM HDOC_REC_DATA_VDA_GENERAL WHERE SERIE = #{serie} AND CHNR = #{chnr}
    </select>

</mapper>
