<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.MarketMasterMapper">

    <resultMap id="BaseResultMap" type="com.web.app.entity.MarketMaster">
        <result property="market" column="MARKET" jdbcType="VARCHAR"/>
        <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
        <result property="registerDatetime" column="REGISTER_DATETIME" jdbcType="TIMESTAMP"/>
        <result property="registerUser" column="REGISTER_USER" jdbcType="VARCHAR"/>
        <result property="registerProcess" column="REGISTER_PROCESS" jdbcType="VARCHAR"/>
        <result property="updateDatetime" column="UPDATE_DATETIME" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="UPDATE_USER" jdbcType="VARCHAR"/>
        <result property="updateProcess" column="UPDATE_PROCESS" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT MARKET, DESCRIPTION FROM MARKET_MASTER
    </select>

</mapper>
