<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.SaveModificationsMapper">

    <select id="selectModificationData" resultType="map">
        SELECT DOCTYPE, VERS, VARIABLE, NEWVAL
        FROM HDOC_ADCA_MODIFICATION
        WHERE SERIE = #{serie} AND CHNO = #{chno}
    </select>

</mapper>
