<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UD09DeleteHdocuserdefinedrulesMapper">

    <!--
        UD09 动态条件搜索用户定义规则
    -->
    <select id="searchUserDefinedRules"
            resultType="com.web.app.entity.HdocUserDefinedRules"
            parameterType="com.web.app.dto.UD09DeleteHdocuserdefinedrulesRequest">
        SELECT
            PC AS pc,
            NUM AS num,
            MARKET AS market,
            VARIABLE AS variable,
            VAL AS val,
            VS AS vs,
            VS2 AS vs2,
            COMMENTS AS comments,
            ADD_DATE AS addDate,
            DELETE_DATE AS deleteDate,
            REGISTER_USER AS registerUser,
            REGISTER_DATETIME AS registerDatetime
        FROM HDOC_USER_DEFINED_RULES
        <where>
            <if test="productClass != null and productClass != ''">
                <choose>
                    <when test="productClassOp != null and productClassOp.equals('!=')">
                        AND PC != #{productClass}
                    </when>
                    <otherwise>
                        AND PC = #{productClass}
                    </otherwise>
                </choose>
            </if>
            <if test="number != null">
                <choose>
                    <when test="numberOp != null and numberOp.equals('!=')">
                        AND NUM != #{number}
                    </when>
                    <when test='numberOp != null and numberOp.equals("&lt;")'>
                        AND NUM &lt; #{number}
                    </when>
                    <when test='numberOp != null and numberOp.equals(">")'>
                        AND NUM &gt; #{number}
                    </when>
                    <otherwise>
                        AND NUM = #{number}
                    </otherwise>
                </choose>
            </if>
            <if test="market != null and market != ''">
                <choose>
                    <when test="marketOp != null and marketOp.equals('!=')">
                        AND MARKET != #{market}
                    </when>
                    <otherwise>
                        AND MARKET = #{market}
                    </otherwise>
                </choose>
            </if>
            <if test="variable != null and variable != ''">
                <choose>
                    <when test="variableOp != null and variableOp.equals('!=')">
                        AND VARIABLE NOT LIKE CONCAT('%', #{variable}, '%')
                    </when>
                    <otherwise>
                        AND VARIABLE LIKE CONCAT('%', #{variable}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="value != null and value != ''">
                <choose>
                    <when test="valueOp != null and valueOp.equals('!=')">
                        AND VAL NOT LIKE CONCAT('%', #{value}, '%')
                    </when>
                    <otherwise>
                        AND VAL LIKE CONCAT('%', #{value}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="variantString1 != null and variantString1 != ''">
                <choose>
                    <when test="variantString1Op != null and variantString1Op.equals('!=')">
                        AND VS NOT LIKE CONCAT('%', #{variantString1}, '%')
                    </when>
                    <otherwise>
                        AND VS LIKE CONCAT('%', #{variantString1}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="variantString2 != null and variantString2 != ''">
                <choose>
                    <when test="variantString2Op != null and variantString2Op.equals('!=')">
                        AND VS2 NOT LIKE CONCAT('%', #{variantString2}, '%')
                    </when>
                    <otherwise>
                        AND VS2 LIKE CONCAT('%', #{variantString2}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="comments != null and comments != ''">
                <choose>
                    <when test="commentsOp != null and commentsOp.equals('!=')">
                        AND COMMENTS NOT LIKE CONCAT('%', #{comments}, '%')
                    </when>
                    <otherwise>
                        AND COMMENTS LIKE CONCAT('%', #{comments}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="addDate != null and addDate != ''">
                <choose>
                    <when test="addDateOp != null and addDateOp.equals('!=')">
                        AND (ADD_DATE != #{addDate} OR ADD_DATE IS NULL)
                    </when>
                    <when test='addDateOp != null and (addDateOp.equals("lt") or addDateOp.equals("&lt;"))'>
                        AND (ADD_DATE &lt; #{addDate} OR ADD_DATE IS NULL)
                    </when>
                    <when test='addDateOp != null and (addDateOp.equals("gt") or addDateOp.equals(">"))'>
                        AND (ADD_DATE &gt; #{addDate} OR ADD_DATE IS NULL)
                    </when>
                    <otherwise>
                        AND ADD_DATE = #{addDate}
                    </otherwise>
                </choose>
            </if>
            <if test="deleteDate != null and deleteDate != ''">
                <choose>
                    <when test="deleteDateOp != null and deleteDateOp.equals('!=')">
                        AND (DELETE_DATE != #{deleteDate} OR DELETE_DATE IS NULL)
                    </when>
                    <when test='deleteDateOp != null and (deleteDateOp.equals("lt") or deleteDateOp.equals("&lt;"))'>
                        AND (DELETE_DATE &lt; #{deleteDate} OR DELETE_DATE IS NULL)
                    </when>
                    <when test='deleteDateOp != null and (deleteDateOp.equals("gt") or deleteDateOp.equals(">"))'>
                        AND (DELETE_DATE &gt; #{deleteDate} OR DELETE_DATE IS NULL)
                    </when>
                    <otherwise>
                        AND DELETE_DATE = #{deleteDate}
                    </otherwise>
                </choose>
            </if>
            <if test="createdByUser != null and createdByUser != ''">
                <choose>
                    <when test="createdByUserOp != null and createdByUserOp.equals('!=')">
                        AND REGISTER_USER NOT LIKE CONCAT('%', #{createdByUser}, '%')
                    </when>
                    <otherwise>
                        AND REGISTER_USER LIKE CONCAT('%', #{createdByUser}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="registerDatetime != null and registerDatetime != ''">
                <choose>
                    <when test="registerDatetimeOp != null and registerDatetimeOp.equals('!=')">
                        AND (REGISTER_DATETIME != #{registerDatetime} OR REGISTER_DATETIME IS NULL)
                    </when>
                    <when test='registerDatetimeOp != null and (registerDatetimeOp.equals("lt") or registerDatetimeOp.equals("&lt;"))'>
                        AND (REGISTER_DATETIME &lt; #{registerDatetime} OR REGISTER_DATETIME IS NULL)
                    </when>
                    <when test='registerDatetimeOp != null and (registerDatetimeOp.equals("gt") or registerDatetimeOp.equals(">"))'>
                        AND (REGISTER_DATETIME &gt; #{registerDatetime} OR REGISTER_DATETIME IS NULL)
                    </when>
                    <otherwise>
                        AND REGISTER_DATETIME = #{registerDatetime}
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY PC, NUM, MARKET
    </select>

    <!--
        UD09 根据PC+NUM+MARKET查询规则数量
    -->
    <select id="countUserDefinedRule" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM HDOC_USER_DEFINED_RULES
        WHERE PC = #{pc}
          AND NUM = #{num}
          AND MARKET = #{market}
    </select>

    <!--
        UD09 根据PC+NUM+MARKET删除规则
    -->
    <delete id="deleteUserDefinedRule">
        DELETE FROM HDOC_USER_DEFINED_RULES
        WHERE PC = #{pc}
          AND NUM = #{num}
          AND MARKET = #{market}
    </delete>

</mapper>
