<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UD11HdocvariablesMapper">

    <!--
        UD11 动态条件搜索HDOC变量
        结果映射到 UD11HdocvariablesResponse.VariableData
    -->
    <select id="searchVariables"
            resultType="com.web.app.dto.UD11HdocvariablesResponse$VariableData"
            parameterType="com.web.app.dto.UD11HdocvariablesRequest">
        SELECT
            VARIABLE AS variable,
            TYPE AS type,
            DESCRIPTION AS description,
            REGISTER_USER AS registerUser,
            REGISTER_DATETIME AS registerDatetime
        FROM HDOC_VARIABLES
        <where>
            <if test="variable != null and variable != ''">
                <choose>
                    <when test="variableOp != null and variableOp.equals('!=')">
                        AND VARIABLE != #{variable}
                    </when>
                    <otherwise>
                        AND VARIABLE = #{variable}
                    </otherwise>
                </choose>
            </if>
            <if test="type != null and type != ''">
                <choose>
                    <when test="typeOp != null and typeOp.equals('!=')">
                        AND TYPE != #{type}
                    </when>
                    <otherwise>
                        AND TYPE = #{type}
                    </otherwise>
                </choose>
            </if>
            <if test="description != null and description != ''">
                <choose>
                    <when test="descriptionOp != null and descriptionOp.equals('!=')">
                        AND DESCRIPTION != #{description}
                    </when>
                    <otherwise>
                        AND DESCRIPTION = #{description}
                    </otherwise>
                </choose>
            </if>
            <if test="createdByUser != null and createdByUser != ''">
                <choose>
                    <when test="createdByUserOp != null and createdByUserOp.equals('!=')">
                        AND REGISTER_USER != #{createdByUser}
                    </when>
                    <otherwise>
                        AND REGISTER_USER = #{createdByUser}
                    </otherwise>
                </choose>
            </if>
            <if test="registerDatetime != null and registerDatetime != ''">
                <choose>
                    <when test="registerDatetimeOp != null and registerDatetimeOp.equals('!=')">
                        AND (DATE(REGISTER_DATETIME) != #{registerDatetime} OR REGISTER_DATETIME IS NULL)
                    </when>
                    <when test='registerDatetimeOp != null and (registerDatetimeOp.equals("lt") or registerDatetimeOp.equals("&lt;"))'>
                        AND (DATE(REGISTER_DATETIME) &lt; #{registerDatetime} OR REGISTER_DATETIME IS NULL)
                    </when>
                    <when test='registerDatetimeOp != null and (registerDatetimeOp.equals("gt") or registerDatetimeOp.equals(">"))'>
                        AND (DATE(REGISTER_DATETIME) &gt; #{registerDatetime} OR REGISTER_DATETIME IS NULL)
                    </when>
                    <otherwise>
                        AND DATE(REGISTER_DATETIME) = #{registerDatetime}
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY VARIABLE
    </select>

</mapper>
