<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UD14SearchresultistMapper">

    <!--
        UD14 市场列表查询
    -->
    <select id="selectAllMarket" resultType="com.web.app.entity.MarketMaster">
        SELECT
            MARKET AS market,
            DESCRIPTION AS description
        FROM MARKET_MASTER
        ORDER BY MARKET
    </select>

    <!--
        UD14 根据市场查询用户定义规则中的变量
    -->
    <select id="selectVariableByMarket" resultType="java.lang.String">
        SELECT DISTINCT VARIABLE
        FROM HDOC_USER_DEFINED_RULES
        WHERE MARKET = #{market}
        ORDER BY VARIABLE
    </select>

</mapper>
