<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UD15Mapper">

    <!-- 查看VIN Plate信息 -->
    <select id="selectVinPlateInfo" resultType="java.util.LinkedHashMap">
        SELECT TYPE, STATUS, MSG, REGISTER_DATETIME, DOC_READY, DOC_SENT, XML_DOC
        FROM HDOC_SEND_DATA_VIN_PLATE
        WHERE SERIE = #{serie} AND CHNR = #{chnr}
    </select>

    <!-- 更新STATUS -->
    <update id="updateStatus">
        UPDATE HDOC_SEND_DATA_VIN_PLATE
        SET STATUS = #{status}
        WHERE SERIE = #{serie} AND CHNR = #{chnr}
    </update>

    <!-- 更新STATUS和TYPE -->
    <update id="updateStatusAndType">
        UPDATE HDOC_SEND_DATA_VIN_PLATE
        SET STATUS = #{status}, TYPE = #{type}
        WHERE SERIE = #{serie} AND CHNR = #{chnr}
    </update>

</mapper>
