<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UD19Mapper">

    <select id="selectAllMarkets" resultType="java.util.LinkedHashMap">
        SELECT MARKET, DESCRIPTION FROM MARKET_MASTER ORDER BY MARKET
    </select>

    <!--
        组合搜索：Userid、User、Market、Type 均为可选条件
        根据传入的参数动态拼接 WHERE 条件
    -->
    <select id="searchUsers" resultType="java.util.LinkedHashMap">
        SELECT DISTINCT u.USERID, u.USERNAME, a.MARKET
        FROM HDOC_USER_INFOR u
        INNER JOIN HDOC_MARKET_AUTH a ON u.USERID = a.USERID
        <where>
            <if test="userId != null and userId != ''">
                AND u.USERID = #{userId}
            </if>
            <if test="user != null and user != ''">
                AND u.USERID IN (SELECT USERID FROM HDOC_USER_INFOR WHERE USERNAME = #{user})
            </if>
            <if test="market != null and market != ''">
                AND a.MARKET = #{market}
            </if>
            <if test="isRule">
                AND u.USERID IN (SELECT USERID FROM HDOC_FUNCTION_AUTH WHERE `FUNCTION` = 'RULES')
            </if>
            <if test="isTemplate">
                AND u.USERID IN (SELECT USERID FROM HDOC_FUNCTION_AUTH WHERE `FUNCTION` = 'TEMPLATE')
            </if>
        </where>
        ORDER BY u.USERID
    </select>

</mapper>
