<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UD20GetDocumentListMapper">

    <!--
        UD20 动态条件查询文档列表
        对应设计文档 5.41 - 查询语句（动态条件）
        
        功能说明：从 HDOC_DOCUMENT_LIST 表中查询文档信息
        - DOCTYPE 支持模糊查询（LIKE '%${doctype}%'）
        - REGISTER_DATETIME 支持大于等于条件
    -->
    <select id="selectDocumentList" resultType="com.web.app.dto.UD20GetDocumentListResponse$DocumentData">
        SELECT
            DOCTYPE AS documentType,
            DESCRIPTION AS businessUnit,
            REGISTER_USER AS registerUser,
            DATE_FORMAT(REGISTER_DATETIME, '%Y-%m-%d %H:%i:%s') AS registerDateTime
        FROM HDOC_DOCUMENT_LIST
        <where>
            <if test="doctype != null and doctype != ''">
                <choose>
                    <when test="doctypeOp != null and doctypeOp.equals('!=')">
                        AND DOCTYPE NOT LIKE CONCAT('%', #{doctype}, '%')
                    </when>
                    <otherwise>
                        AND DOCTYPE LIKE CONCAT('%', #{doctype}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="registerUser != null and registerUser != ''">
                <choose>
                    <when test="registerUserOp != null and registerUserOp.equals('!=')">
                        AND REGISTER_USER != #{registerUser}
                    </when>
                    <otherwise>
                        AND REGISTER_USER = #{registerUser}
                    </otherwise>
                </choose>
            </if>
            <if test="registerDatetime != null and registerDatetime != ''">
                <choose>
                    <when test="registerDatetimeOp != null and registerDatetimeOp.equals('!=')">
                        AND (REGISTER_DATETIME != #{registerDatetime} OR REGISTER_DATETIME IS NULL)
                    </when>
                    <when test="registerDatetimeOp != null and registerDatetimeOp.equals('lt')">
                        AND (REGISTER_DATETIME &lt; #{registerDatetime} OR REGISTER_DATETIME IS NULL)
                    </when>
                    <when test="registerDatetimeOp != null and registerDatetimeOp.equals('gt')">
                        AND (REGISTER_DATETIME &gt; #{registerDatetime} OR REGISTER_DATETIME IS NULL)
                    </when>
                    <otherwise>
                        AND REGISTER_DATETIME = #{registerDatetime}
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY DOCTYPE
    </select>

</mapper>
