<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UserDocMapper">

    <delete id="deleteUserDoc">
        DELETE FROM HDOC_USER_DOC WHERE USERID = #{userid}
    </delete>

    <insert id="insertUserDoc">
        INSERT INTO HDOC_USER_DOC (USERID, DOCTYPE,
            REGISTER_DATETIME, REGISTER_USER, REGISTER_PROCESS,
            UPDATE_DATETIME, UPDATE_USER, UPDATE_PROCESS)
        VALUES (#{userid}, #{doctype},
            NOW(), #{currentUser}, 'UserDocUpdate',
            NOW(), #{currentUser}, 'UserDocUpdate')
    </insert>

    <select id="selectFunctionAuthCount" resultType="int">
        SELECT COUNT(*) FROM HDOC_FUNCTION_AUTH WHERE USERID = #{userid}
    </select>

    <select id="selectUserDoc" resultType="string">
        SELECT DOCTYPE FROM HDOC_USER_DOC WHERE USERID = #{userid}
    </select>

</mapper>
